nav {
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    position: fixed;    
    top: 0;
    width: 100%;
    height: 70px;
    color: azure
}